@import "../../../project/style.css";

:root {
    --landing-form-message-color: var(--medium-gray-red);
    --landing-form-message-title-color: var(--nero);
    --landing-form-message-title-border-color: var(--medium-gray-red);
}

.landing-form-message {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    width: 1170px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--landing-form-message-color);
}

.landing-form-message__intro {
    padding: 0;
    margin: 3em 0;
}

.intro-title {
    position: relative;
    margin: 0;
    padding-left: 2em;
    padding-bottom: 0.5em;
    color: var(--landing-form-message-title-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--landing-form-message-title-border-color);

}

.intro-title::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("./../../../project/marker.svg");
    background-size: 1.25em 1.25em;
    background-repeat: no-repeat;
    width: 1.25em;
    height: 1.25em;
    content: "";
}

.form-message {
    padding: 1.2em 0 1.2em;
    align-self: center
}

input[type=submit] {
    align-self: center;
    margin-bottom: 3em;
}