@import "../../../project/style.css";

:root {
    --header-bottom-color: var(--honeydew);
    --header-bottom-bg-color: var(--baltic-sea);
    --header-bottom-hover-bg-color: var(--royal-blue);
    --header-bottom-active-focus-color: var(--royal-blue);
    --header-bottom-active-focus-bg-color: var(--baltic-sea);
}

.header-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding: 0;
    background: var(--header-bottom-bg-color);
    border-radius: 0.5em;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0 auto;
}

.navbar__item {
    display: block;
    padding: 1.05em 0;
}

.navbar__link {
    padding: 1.05em 1.8em;
    color: var(--header-bottom-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.navbar__link:hover {
    background-color: var(--header-bottom-hover-bg-color);
}

.navbar__link:active {
    color: var(--header-bottom-active-focus-color);
    background-color: var(--header-bottom-active-focus-bg-color);
}

.navbar__link:focus {
    outline: none;
    color: var(--header-bottom-active-focus-color);
    background-color: var(--header-bottom-active-focus-bg-color);
}