@import "./../../project/style.css";

:root {
    --button-border-color: var(--royal-blue);
    --button-bg-color: var(--royal-blue);
    --button-text-color: var(--honeydew);
    --button-hover-bg-color: var(--cornflower-blue);
    --button-focus-color: var(--cornflower-blue);
}

input[type=submit] {
    display: block;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    padding: 0.25em 1.125em;
    margin: 0;
    width: 200px;
    max-width: 100%;
    border: none;
    border-radius: 1.8em;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    font: 1em Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 2.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    white-space: nowrap;
    transform: translateY(0);
    will-change: transform;
    transition: transform 0.2s .15s ease-in-out;
    cursor: pointer;
}

input[type=submit]:before {
    content: "\2709";
    padding-right: 10px;
}

input[type=submit]:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    box-shadow: 0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25);
    transform: translateY(-0.25em);
}

input[type=submit]:active {
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    box-shadow: 0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25);
    transform: translateY(0);
}

input[type=submit]:focus {
    outline: none;
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    box-shadow: 0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25);
    transform: translateY(-0.25em);
}