@import "../../../project/style.css";

:root {
    --contact-connection-title-color: var(--baltic-sea);
    --contact-connection-text-color: var(--medium-gray-red);
}

.contact-connection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 1170px;
}

.contact-connection__title {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.2em;
    color: var(--contact-connection-title-color);
}

.contact-connection__content {
    color: var(--contact-connection-text-color);
    font-weight: 400;
}