table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    border: none;
    font-size: 31px;
}

tr {
    border-bottom: 1px solid #cccccc;
}

td {
    padding: 6px 14px;
}

tr:nth-child(even) {
    background-color: #DDEBF8;
}

td:nth-child(2n+3) {
    background-color: #F2F2DD;
}