nav {
    height: 40px;
    margin: 600px 625px 100px;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: xx-small;
}

nav li {
    display: inline;
}

.pagination li a {
    color: #C756D6;
    padding: 4px 8px;
    line-height: 40px;
    font-family: "MS Reference Sans Serif";
    text-transform: uppercase;
}

.item {
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.pagination li a:hover {
    color: white;
    background-color: #A23BD0;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.quotesL::before {
    content: "\00ab";
    color: #C756D6;
}

.quotesR::after {
    content: "\00bb";
    color: #C756D6;
}