nav {
    background: #B65CEF;
    margin: 20px 400px;
    height: 35px;

}

nav > ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

/*хотела попробовать вытянуть шрифт
transformer: scale () в селектаре а, но не сработало, что я делала не так?*/
a {
    color: white;
    font-size: 18px;
}

.menu li a {
    padding: 8px 10px;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-stretch: ultra-condensed;
    font-weight: bold;
}

.menu li a:hover {
    color: gray;
    background-color: #eaeaea;
}

li:last-of-type {
    float: right;
}