@import "../../../project/style.css";

:root {
    --header-top-color: var(--honeydew);
    --header-top-text-color: var(--baltic-sea);
    --header-contact-border-color: var(--medium-gray-red);
    --header-top-quote-color: var(--royal-blue);
    --header-top-quote-res-color: var(--raven);
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 1.5em 0 1.5em 0;
}

.logo-header {
    margin: 0;
    width: 24rem;
    height: 6rem;
}

.header-top___quote {
    margin: 0 1em 0 6em;
    text-align: right;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--header-top-quote-color);
}

.header-top___quote_rus {
    color: var(--header-top-quote-res-color)
}

.header-top___quote_font {
    font-style: normal;
    color: var(--header-top-quote-color)
}