@import "../../../project/style.css";

:root {
    --footer-top-bg-color: var(--baltic-sea);
    --footer-top-text-color: var(--raven);
    --footer-top-tittle-color: var(--gainsboro);
    --footer-top-service-link-color: var(--raven);
    --service-type-content: var(--royal-blue);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 1em;
    background: var(--footer-top-bg-color);
    width: 1170px;
    color: var(--footer-top-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.footer-top__logo {
    align-self: center;
}

.logo-footer {
    width: 8em;
    height: 8em;
}

.footer-top__pro {
    flex: 0 0 25%;
    width: 25%;
}

.side-pro__content {
    line-height: 1.9;
    letter-spacing: 0.08em;
    font-weight: 600;
}

.service-type__content {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--footer-top-service-link-color);
    font-weight: 600;
    line-height: 1.9;
    letter-spacing: 0.05em;
}

.service-type__content:hover,
.service-type__content:active,
.service-type__content:focus {
    color: var(--service-type-content);
    outline: none;
}

.service-type__content:focus {
    outline: none;
}

.side__title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--footer-top-tittle-color);
}

.contact-all__content {
    font-weight: 600;
}