body {
    font: 22px Arial, sans-serif;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    padding: 4px 8px;
    margin-right: 39px;
    text-align: center;
    text-decoration: underline;
    border: hidden;
}

label[for*="red"] {
    color: #FF0000;
}

label[for*="green"] {
    color: #008100;
}

label[for*="blue"] {
    color: #0000FF;
}

div span {
    display: inline-block;
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: 4px 6px;
    margin: 4px 2px;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: hidden;
}

.red {
    background: #FF0000;
}

.green {
    background: #008100;
}

.blue {
    background: #0000FF;
}

/* характер ячеек после клика */
#red:checked ~ .red {
    display: none;
}

#green:checked ~ .green {
    display: none;
}

#blue:checked ~ .blue {
    display: none;
}

#red:checked ~ label[for*="red"] {
    color: #FFB3B2;
}

#green:checked ~ label[for*="green"] {
    color: #B2DAB2;
}

#blue:checked ~ label[for*="blue"] {
    color: #CAC9FF;
}