@import "../../../project/style.css";

:root {
    --footer-bottom-bg-color: var(--nero);
    --footer-bottom-text-color: #bdbdbd;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    width: 1170px;
    background: var(--footer-bottom-bg-color);
    font-size: 1rem;
}

.paycards,.footer-info {
    margin: 0;
    padding: 0;
}

.paycards__type_visa-master {
    padding: 0 0.5em;
    width: 6em;
    height: 2em;
}

.paycards__type_belkard {
    padding: 0 0.5em;
    width: 2.4em;
    height: 2.4em;
}

.copyright {
    color: var(--footer-bottom-text-color);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}