@import "./../../../project/style.css";

:root {
    --landing-form-message-bg-color: var(--honeydew);
    --landing-form-message-color: var(--medium-gray-red);
    --landing-form-message-title-color: var(--nero);
    --landing-form-message-title-border-color: var(--medium-gray-red);
}

.landing-form-message {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 750px;
    background: var(--landing-form-message-bg-color);
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: var(--landing-form-message-color);
}

.landing-form-message__title {
    border-bottom: 1px solid var(--landing-form-message-title-border-color);
    padding: 0;
    margin: 0;
}

.title-message {
    position: relative;
    margin: 0;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    color: var(--landing-form-message-title-color);
    text-transform: uppercase;
}

.title-message::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("./../../../project/image-project/marker.svg");
    background-size: 1em 1em;
    background-repeat: no-repeat;
    width: 1.25em;
    height: 1.25em;
    content: "";

}

.form-message {
    align-self: center
}

input[type=submit] {
    align-self: center
}