@import "../../../project/style.css";

:root {
    --form-message-border-input-color: var(--royal-blue);
}

.form-message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 1170px;
    font-size: 1rem;
}

.form-message__personal-info {
    display: block;
    margin: 0.5em 1.125em 1.3em 0;
}

input[type="text"], textarea {
    box-sizing: border-box;
    overflow: hidden;
    /*padding: 0.55em 6em 0.55em 1.25em;*/
    padding: 1em;
    width: 30em;
    border: 1px solid var(--form-message-border-input-color);
    border-radius: 1.8em;
    font-family: Arial, sans-serif;
    font-size: 0.95em;
    font-weight: 200;
    line-height: 1.5;
}

.form-message__filling {
    display: block;
    margin: 0.5em 0 1.3em 1.125em;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
}