body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: white;
}

.navigation {
    width: 100%;
    height: 100%;
    margin: 0;
}

.menu-company-name {
    margin-bottom: 0;
    margin-left: 45%;
}

.menu-company-name li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    padding: 20px 10px;
}

.menu-company-name a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #6F3D9D;
    padding: 20px 10px;
}

/* пробовала применить :before , но логотип не вставился,это не верное решение
 или я применяла не те селекторы?*/

.logo {
    float: left;
    margin-left: 20%;
}

li > a:hover {
    border-bottom: 4px solid #36526A;
}

li > a:active, li > a:focus {
    color: red;
    outline: none;
    border-bottom: 4px solid #36526A;
}

.promote {
    clear: both;
    background: url("title-back.jpg") 50% 50% no-repeat;
    padding: 150px 0px;
    text-align: center;
    color: white;
    margin-top: 3px;
}

h1, h3, p, .btn-name {
    padding: 0;
    margin: 0 auto;
}

h3 {
    font-size: 36px;
    font-weight: 100;
}

h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 100;
}

p {
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-size: 20px;
    padding: 20px 0 40px;
}

.btn-name {
    opacity: 100%;
    outline: none;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 60px;
}