body {
    font-family: Arial, sans-serif;
}

.block1 {
    display: block;
    box-sizing: border-box;
    width: 272px;
    height: 426px;
    padding: 0;
    margin: 0;
    border: 4px solid #EE8129;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.title h3 {
    text-transform: uppercase;
    background-color: #EE8129;
    color: white;
    padding: 9%;
    text-align: center;
    margin: 0 auto;
}

.title2 p {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 15px 15px 10px;
}

/*---NUMBER---*/
.number {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

span {
    font-size: 66px;
}

sup {
    vertical-align: 35px;
    font-size: 18px;
}

sub {
    vertical-align: -8px;
}

/*---LIST---*/
.list {
    margin: 0 0 16px 0;
    counter-reset: none; /* reset user agent stylesheet*/
    list-style-type: none;
    padding: 5px 15px;
    font-size: 14px;
}

li {
    line-height: 32px;
    padding-left: 30px;
}

li:before {
    content: url("arrow.png");
    padding-right: 10px;
}

.list li:nth-child(odd) {
    background-color: #EDF5FD;
}

.list li:nth-child(even) {
    background-color: #F5F5F6;
}

.list li:nth-child(-n+2) {
    text-transform: uppercase;
}

/*---BUTTON---*/
a.button {
    text-decoration: none;
    text-transform: uppercase;
    font: 12px Arial, sans-serif;
    font-weight: bold;
    color: white;
    padding: 12px 68px;
    margin: 10px 16px;
    border-radius: 4px;
    background-color: #EE8129;
    box-shadow: 0 -3px rgb(179, 86, 11) inset;
}