* {
    font-size: 30px;
}

a[href$=".html"] {
    color: blue;
}

a[href*="yandex"] {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

a[target="_blank"] {
    position: relative;
    white-space: nowrap;
}

a[target$="_blank"]:after {
    content: "\21F1";
    transform: rotate(90deg);
    position: absolute;
    right: -30px;
    top: auto;
}