h1 {
    text-align: right;
    color: orange;
}

p:first-letter {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

p em {
    color: white;
    background: green;
}

h2 {
    color: blue;
}

p + h2 {
    color: orange;
}

ul > li {
    font-weight: bold;
}

ol {
    color: gray;
    font-weight: normal;
}

strong + ol {
    color: red;
}

b + ol {
    color: green;
}

table, td, th {
    border: 1px solid black;
    width: 400px;
    text-align: center;
    background: white;
}

td {
    background: green;
    color: white;
}

td:first-child {
    text-align: left;
    background: white;
    color: orange;
}
