@import "../../../project/style.css";

:root {
    --landing-footer-top-bg-color: var(--baltic-sea);
    --landing-footer-bottom-bg-color: var(--nero);
}

.landing-footer__top {
    background: var(--landing-footer-top-bg-color);
    margin: 0 auto;
}

.landing-footer__bottom {
    background: var(--landing-footer-bottom-bg-color);
}