/*
sizes 296x468
orange colors ee8129
dark orange shadow b3560b
lightblue edf5fd
lightgray f5f5f6
25 font color 35495a
iconic font color 3f4042
list font color 888c94
*/

.offers {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

/*Common styles for pricing block*/
.pricing-block {
    display: inline-block;
    border-radius: 5px;
    background: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.title {
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}

.content {
    font-size: 23px;
    font-weight: 600;
    color: #3f4042;
    padding: 18px 0 5px;
    margin: 0;
}

.value {
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
    color: #35495a;
    text-transform: none;
    margin: 0 auto;
    width: 100%;
}

.value sup {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -10px;
    left: -3px;
}

.value sub {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -5px;
}

.features {
    list-style-type: none;
    color: #888c94;
    margin: 0 auto 17px;
    padding: 0;
    width: 90%;
    font-size: 15px;
    text-align: left;
    text-transform: none;
}

.features > li {
    background: url("arrow.png") no-repeat;
    background-position: 32px 11px;
    padding: 7px 8px 8px 62px;
    border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
    background-color: #edf5fd;
}

.features > li:nth-child(even) {
    background-color: #f5f5f6;
}

.cta-btn {
    padding: 10px 0;
    margin: 3px auto 30px;
    width: 85%;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
}

/*Specific styles for BEST VALUE block*/
.best-value {
    margin: 50px auto;
    width: 290px;
    border: 4px solid #ee8129;
    box-shadow: 0 0 10px 2px #ddd;
    position: absolute;
    z-index: 3;
    left: 300px;
    top: 55px;
}

.best-value .title {
    padding: 20px 0;
    color: white;
    background: #ee8129;

}

.best-value .cta-btn {
    color: white;
    background: #ee8129;
    box-shadow: #b3560b 0 3px 0 0;
}

/*-----lesson-12-----*/
h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
}

/*Specific styles for STANDART block*/
.standart {
    margin: 50px auto;
    width: 290px;
    border: 1px solid #E8EAEC;
    border-top: 2px solid #2BC2D4;
    position: absolute;
    z-index: 1;
    left: 15px;
}

.standart .title {
    padding: 15px 0;
    color: white;
    background: #2BC2D4;
}

.standart .cta-btn {
    color: white;
    background: #2F70A8;
    box-shadow: #13426B 0 3px 0 0;
    margin-bottom: 20px;
}

/*Specific styles for ULTIMATE block*/
.ultimate {
    margin: 50px auto;
    width: 290px;
    border: 1px solid #E8EAEC;
    border-top: 2px solid #00B89A;
    position: absolute;
    z-index: 2;
    left: 590px;
}

.ultimate .title {
    padding: 15px 0;
    color: white;
    background: #00B89A;
}

.ultimate .cta-btn {
    margin-bottom: 20px;
    color: white;
    background: #2F70A8;
    box-shadow: #13426B 0 3px 0 0;
}