body {
    width: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.opinion {
    background-color: black;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 40px;
}

.view {
    margin: 0 auto;
    width: 70%;
}

.opinion h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #3170A8;
}

.opinion h1 span {
    color: #EE8129;
}

.client {
    display: inline;
    overflow: hidden;
    width: 50%;
    position: relative;
    align-items: center;
}

img {
    margin-left: 50px;
    width: 8%;
    height: 8%;
}

.comment {
    display: inline-block;
    width: 350px;
    padding: 0 10px;
    background-color: white;
    color: #937F93;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 200;
    font-size: 10px;
    bottom: 20px;
}

.customer1, .customer2 {
    counter-reset: none;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    font-family: "Open Sans", Arial, cursive;
    font-style: italic;
    font-weight: 600;
    text-align: left;
    border-bottom: #808080 dotted 2px;
}

.comment li {
    display: inline;
    color: #86B2D9;
    padding: 0 0 0 10px;
}

li:before {
    content: "\002D";
    padding-right: 4px;
}

ul li:nth-child(2) {
    float: right;
    list-style-type: none;
}

.arrow {
    display: inline-block;
    margin-right: -4px;
    margin-bottom: 20px;
    padding-right: 0;
    width: 0;
    border: 10px solid;
    border-color: transparent white transparent transparent;
}
