@import "./../../project/style.css";

:root {
    --scrol-to-top-bg-color: var(--cornflower-blue);
    --scrol-to-top-bg-arrow-color: var(--honeydew);
    --scrol-to-top-hover-bg-color: var(--royal-blue);
    --scrol-to-top-active-bg-color: var(--cornflower-blue);
    --scrol-to-top-focus-bg-color: var(--royal-blue);
    --scrol-to-top-focus-color: var(--royal-blue);
}
.scrol_to-top {

    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 200;
    box-sizing: border-box;
    overflow: hidden;
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background: var(--scrol-to-top-bg-color);
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    transform: rotate(-90deg);
    transition: 0.1s ease-in-out;
    
    cursor: pointer;
}

.scrol_to-top:before {
    content: "\25B6";
    color: var(--scrol-to-top-bg-arrow-color);
    text-align: center;
}

.scrol_to-top:hover {
    background: var(--scrol-to-top-hover-bg-color);
}

.scrol_to-top:active {
    background: var(--scrol-to-top-active-bg-color);
    transform: rotate(-90deg);
}

.scrol_to-top:focus {
    outline: none;
    background: var(--scrol-to-top-focus-bg-color);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0.8em 1.8em -0.3em rgba(58, 58, 104, 0.32);
}